@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply leading-6 bg-gray-200 font-body text-paragraph;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black font-body;
  }
  .section {
    @apply py-12 lg:py-32;
  }
  .section-title {
    @apply mb-5 text-3xl font-medium lg:text-4xl lg:font-extrabold;
  }
  .subtitle {
    @apply text-base text-paragraph mb-16 lg:mb-24 max-w-[520px];
  }
  .btn {
    @apply flex items-center justify-center py-4 font-medium text-white transition-all rounded-sm px-7 hover:bg-accent-hover;
  }
  .btn-lg {
    @apply h-[54px];
  }
  .btn-md {
    @apply h-[48px];
  }
  .input {
    @apply bg-secondary text-paragraph h-[60px] outline-none pl-6 w-full font-body text-[15px] rounded-sm focus:outline focus:outline-1 focus:outline-accent;
  }
  .textarea {
    @apply bg-secondary resize-none w-full outline-none p-6 rounded-sm h-[200px] focus:outline focus:outline-1 focus:outline-accent;
  }
  .active {
    @apply text-accent;
  }
}

#home {
  background-color: #3C5368;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%233C5368' width='11' height='11'/%3E%3Crect fill='%233b5267' x='10' width='11' height='11'/%3E%3Crect fill='%233b5166' y='10' width='11' height='11'/%3E%3Crect fill='%233a5064' x='20' width='11' height='11'/%3E%3Crect fill='%23394f63' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23394e62' y='20' width='11' height='11'/%3E%3Crect fill='%23384d61' x='30' width='11' height='11'/%3E%3Crect fill='%23374c60' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23364c5f' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23364b5d' y='30' width='11' height='11'/%3E%3Crect fill='%23354a5c' x='40' width='11' height='11'/%3E%3Crect fill='%2334495b' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%2334485a' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23334759' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23324658' y='40' width='11' height='11'/%3E%3Crect fill='%23324557' x='50' width='11' height='11'/%3E%3Crect fill='%23314455' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23304354' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23304253' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%232f4152' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%232e4151' y='50' width='11' height='11'/%3E%3Crect fill='%232e4050' x='60' width='11' height='11'/%3E%3Crect fill='%232d3f4f' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%232c3e4d' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%232c3d4c' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%232b3c4b' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%232a3b4a' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%232a3a49' x='70' width='11' height='11'/%3E%3Crect fill='%23293948' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23293847' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23283846' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23273745' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23273643' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23263542' x='80' width='11' height='11'/%3E%3Crect fill='%23253441' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23253340' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2324323f' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2323313e' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2323313d' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2322303c' x='90' width='11' height='11'/%3E%3Crect fill='%23222f3b' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23212e3a' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23202d39' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23202c38' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%231f2b37' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%231e2b35' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%231e2a34' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%231d2933' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%231d2832' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%231c2731' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%231b2630' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%231b262f' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%231a252e' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%231a242d' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%2319232c' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%2318222b' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%2318212a' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23172129' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23172028' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23161F27' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}